<div class="container">
  <div>
    <section>
      <h2>This is a blog about engineering and stuff</h2>
      <p>I am an engineering student at ENSEA. My passions include computer science, electronics and cinema. I will be
        studying at Georgia Tech from January 2019.</p>
    </section>
    <hr class="featurette-divider">
    <section>
      <h4>Recent projects</h4>

    </section>
    <hr class="featurette-divider">
    <section>
      <h2>This is a blog about engineering and stuff</h2>
      <p>I am an engineering student at ENSEA. My passions include computer science, electronics and cinema. I will be
        studying at Georgia Tech from January 2019.</p>
    </section>
    <hr class="featurette-divider"><section>
    <h2>This is a blog about engineering and stuff</h2>
    <p>I am an engineering student at ENSEA. My passions include computer science, electronics and cinema. I will be
      studying at Georgia Tech from January 2019.</p>
  </section>
    <hr class="featurette-divider"><section>
    <h2>This is a blog about engineering and stuff</h2>
    <p>I am an engineering student at ENSEA. My passions include computer science, electronics and cinema. I will be
      studying at Georgia Tech from January 2019.</p>
  </section>
    <hr class="featurette-divider"><section>
    <h2>This is a blog about engineering and stuff</h2>
    <p>I am an engineering student at ENSEA. My passions include computer science, electronics and cinema. I will be
      studying at Georgia Tech from January 2019.</p>
  </section>
    <hr class="featurette-divider"><section>
    <h2>This is a blog about engineering and stuff</h2>
    <p>I am an engineering student at ENSEA. My passions include computer science, electronics and cinema. I will be
      studying at Georgia Tech from January 2019.</p>
  </section>
    <hr class="featurette-divider"><section>
    <h2>This is a blog about engineering and stuff</h2>
    <p>I am an engineering student at ENSEA. My passions include computer science, electronics and cinema. I will be
      studying at Georgia Tech from January 2019.</p>
  </section>
    <hr class="featurette-divider"><section>
    <h2>This is a blog about engineering and stuff</h2>
    <p>I am an engineering student at ENSEA. My passions include computer science, electronics and cinema. I will be
      studying at Georgia Tech from January 2019.</p>
  </section>
    <hr class="featurette-divider"><section>
    <h2>This is a blog about engineering and stuff</h2>
    <p>I am an engineering student at ENSEA. My passions include computer science, electronics and cinema. I will be
      studying at Georgia Tech from January 2019.</p>
  </section>
    <hr class="featurette-divider">
  </div>

</div>
