#header{
  margin:0;

}

@media screen and (min-width: 800px){
  #header{
    text-align: right;
  }
}

@media screen and (max-width: 800px){
  #header{
    padding-bottom: 35rem;
    text-align: center;
  }
  #headerContent{
    /*text-align: left;*/
  }


}


.container-fluid{
  padding: 0;
  margin: 0;
}

#headerContent{
  position: fixed;
  /*text-align: right!important;*/
  /*text-align: center;*/
}
#subtitle{
    /*color: white;*/
  color: #E5E2E3;

}

.jumbotron{
  background: transparent;
  height:20%;
}

#titleText{
  color: bisque;
}

#img{
  /*padding-top: 2rem;*/
}
.row{
  height: 30%;
  padding-top: 2rem;
}

#socials{
  padding-top: 40%;

}
a{
  color:white;
  padding-left: 1.2rem;
}
.fill-height{
  /*position: static;*/
  width: 30%;

}
