<div class="fill-height"  id="header">
  <div class="col-md-4" id="headerContent">
    <div class="row">
      <div class="col" id="img">
        <img src="../../assets/me.jpg" class="img-fluid rounded-circle "
             alt="Generic placeholder image" width="120" height="120">
      </div>
    </div>
    <div class="row">

      <div class="col">
        <h1 id="titleText">Paul Estano</h1>
        <h2 style="color: white;">French engineering student</h2>
      </div>
    </div>
    <div class="row"  id="socials">
      <div class="col">
        <a href="http://www.linkedin.com/in/paul-estano-495286102">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/paulesta55">
          <i class="fab fa-github-square fa-2x"></i>

        </a>
      </div>

    </div>
  </div>
</div>

