body,html{
  height:100%;
  padding:0;
  background: url('/assets/falaises-en-vau.jpg') no-repeat fixed;
  font-family: 'Playfair Display', serif;
  width: 100%;
}


html, body {
  height: 100%;
}




  .fill-height {
    min-height: 100%;
    height: stretch;/* so that it fits the whole page height */
    overflow: auto;
  }

